.comment{
    font-size: 14px;
    justify-self: start;
    margin: 0px 10px 0 40px;
    padding-top: 10px;
    align-self: flex-start;
}
.formComment{
    width: 100%;
}

.search{
    width: 70%;
    border: 1px solid gray;
}